#menu {
	display: block;
	position: fixed;
	top: 0.5em;
	right: 0.5em;
}

nav {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 1.5em;
	right: 0.5em;
	width: 0;
	height: 0;
	overflow: hidden;
	transition: all 0.25s;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
}

nav > a {
	margin: 0 !important;
	line-height: 1em !important;
	padding: 0.5em;
}

.show {
	height: auto;
	width: auto;
}

.teaser h2 {
	white-space: nowrap;
}

main a {
	border-width:0;
	padding-top: calc(.5em + 3px);
	padding-bottom: calc(.5em + 3px);
	width: calc(20ch + 5px);
	background: linear-gradient(90deg, blue, lightblue, turquoise);
	text-shadow: 2px 2px 2px black;
}

main {
	white-space: normal;
	font-size: 2vh;
}

main h1 {
    width: 22ch;
    white-space: normal;
    /*font-size: 4vh;*/
}

main a {
    margin-top: 1em;
}

.teaser {
	flex-direction: column;
	top: calc(100vh - 4em);
	transform: translate(-50%, 0);
	width: 90%;
}

.teaser > div::after {
	border: 0 !important;
}

.teaser h2 {
	text-align: center;
}
